@keyframes zoomIn {
    0%{
        opacity: 0%;
        scale: calc(0%);
    }
    30%{
        opacity: 0%;
        scale:calc(0%)
    }
    100%{
        opacity:100%;
        scale: calc(100%);
    }
}
@keyframes zoomOut {
    0%{
        scale: calc(100%);
        opacity: 100%;
    }
    100%{
        scale: calc(2500%);
        opacity: 0%;
    }
}

@keyframes zoomIn2 {
    0%{
        opacity: 0%;
        scale: calc(25000%);
    }
    60%{
        opacity: 10%;
    }
    100%{
        opacity: 100%;
        scale: calc(100%);
    }
}
@keyframes zoomOut2 {
    0%{
        opacity: 100%;
        scale: calc(100%);
    }
    100%{
        opacity: 0%;
        scale: calc(0%);
    }
}