.TaskCircleGreen{
    fill:none;
    stroke:#1CBABA;
    stroke-width: 8%;
    transition: 0.3s;
    z-index: 10;
}

.TaskCircleYellow{
    fill:none;
    stroke:#FFB700;
    stroke-width: 8%;
    transition: 0.3s;
    z-index: 10;
}

.TaskCircleRed{
    fill:none;
    stroke:#F63737;
    stroke-width: 8%;
    transition: 0.3s;
    z-index: 10;
}